{% macro RenderBreadCrumbs(breadcrumbs) %}
    {% for b in breadcrumbs %}
        {% if not b.url is defined %}
            <li class="active">{{ b.name|trans }}</li>
        {% else %}
            <li><a href="{{ b.url }}">{{ b.name|trans }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}
