# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Custom
    currency: €
    postal_code_csv.path: '/clubEstetica/src/AppBundle/DataFixtures/ORM/Postalcode.csv'
    site_title: "Club de Estética"
    ticket_link: "https://clubdeestetica.freshdesk.com/helpdesk"
    flowww_link: "https://login.flowww.net/es/"
    mail_central: "creatividades@clubsdeestetica.com"
    app.path.images: /uploads/images
    app.path.files: /uploads/files
    app.path.registrations: /uploads/registrations
    app.path.documents: /uploads/documents
    app.path.creativities: /uploads/creativities
    app.path.creativity_orders: /uploads/creativity_orders
    url_map: "https://{s}.tiles.mapbox.com/v4/{mapId}/{z}/{x}/{y}.png?access_token={token}"