/*
 * Skin: Purple
 * ------------
 */
.skin-humanababy .main-header .navbar {
  background-color: #0b54a3;
}
.skin-humanababy .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-humanababy .main-header .navbar .nav > li > a:hover,
.skin-humanababy .main-header .navbar .nav > li > a:active,
.skin-humanababy .main-header .navbar .nav > li > a:focus,
.skin-humanababy .main-header .navbar .nav .open > a,
.skin-humanababy .main-header .navbar .nav .open > a:hover,
.skin-humanababy .main-header .navbar .nav .open > a:focus,
.skin-humanababy .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-humanababy .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-humanababy .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-humanababy .main-header .navbar .sidebar-toggle {
  color: #f8b22e;
}
.skin-humanababy .main-header .navbar .sidebar-toggle:hover {
  background-color: #09488b;
}
.skin-humanababy .main-header .navbar .dropdown-menu {
  background: #daedfa;
  border-color: #daedfa;
}
.skin-humanababy .main-header .navbar .dropdown-menu .user-footer {
  background: #daedfa;
}
.skin-humanababy .main-header .navbar .dropdown-menu .user-footer .btn-default {
  color: #fff;
  background-color: #0b54a3;
  border-color: #0b54a3;
}
.skin-humanababy .main-header .navbar .dropdown-menu .user-footer .btn-default:hover {
  background: #09488b;
}
@media (max-width: 767px) {
  .skin-humanababy .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-humanababy .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-humanababy .main-header .navbar .dropdown-menu li a:hover {
    background: #09488b;
  }
}
.skin-humanababy .main-header .logo {
  background-color: #09488b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-humanababy .main-header .logo:hover {
  background-color: #094586;
}
.skin-humanababy .main-header li.user-header {
  background-color: #0b54a3;
}
.skin-humanababy .content-wrapper {
  background: #f1f8fd;
}
.skin-humanababy .content-header {
  background: transparent;
}
.skin-humanababy .wrapper,
.skin-humanababy .main-sidebar,
.skin-humanababy .left-side {
  background: #fff;
}
.skin-humanababy .content-wrapper,
.skin-humanababy .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-humanababy .user-panel > .info,
.skin-humanababy .user-panel > .info > a {
  color: #0b54a3;
}
.skin-humanababy .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-humanababy .sidebar-menu > li.header {
  color: #0b54a3;
  background: #ffffff;
}
.skin-humanababy .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-humanababy .sidebar-menu > li:hover > a,
.skin-humanababy .sidebar-menu > li.active > a {
  color: #083b73;
  background: #f4f4f5;
}
.skin-humanababy .sidebar-menu > li.active a {
  border-left-color: #0b54a3;
}
.skin-humanababy .sidebar-menu > li.active a > a {
  font-weight: 600;
}
.skin-humanababy .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-humanababy .sidebar a {
  color: #0b54a3;
}
.skin-humanababy .sidebar a:hover {
  text-decoration: none;
}
.skin-humanababy .treeview-menu > li > a {
  color: #0b54a3;
}
.skin-humanababy .treeview-menu > li.active > a,
.skin-humanababy .treeview-menu > li > a:hover {
  color: #083b73;
}
.skin-humanababy .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-humanababy .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-humanababy .sidebar-form input[type="text"],
.skin-humanababy .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-humanababy .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-humanababy .sidebar-form input[type="text"]:focus,
.skin-humanababy .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-humanababy .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-humanababy .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-humanababy.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
