.user-panel img{
    width: 45px;
}

.sidebar-collapse .user-panel img{
    width: 30px;
}
.alertify .ajs-commands {
    margin: -24px 2px 0 0;
}
img.center {
    display: block;
    margin: 0 auto;
}
.logo-lg img{
    width: 70px;
}
.logo-mini img{
    width: 50px;
}

.checkbox label{
    padding: 0;
}
.badge.answers{
    top: -1px!important;
    background-color: #fff;
    color: #00c0ef;
}

.image-list{
    max-width: 200px;
}
.add-files{
    margin-bottom: 10px;
}

.margin-top{
    margin-top: 15px;
}
.points-mother{
    padding: 10px;
}

select[name="limit"]{
    padding: 5px;
}


.logo-lg img {
    width: 115px;
}

.login-page{
    background: none;
}

.login-box-body, .register-box-body{
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
}

.btn-info:hover,
.btn-info:active,
.btn-info.hover{
    background-color: #00a3e0;
    border-color: #004b87;
}

.login-box-body button.btn-primary,
.login-box-body button.btn-primary:hover,
.login-box-body button.btn-primary:active{
    background-color: #00a3e0;
    border-color: #004b87;
}
