{% extends "BackendBundle::layout.html.twig" %}

{% block description_status 'backend.edit'|trans  %}
{% block content %}
    {% form_theme edit_form "BackendBundle::bootstrap_3_layout.html.twig" %}
    <div class="box box-primary">
        <div class="box-header">
            <h3>{% block create_title %}{% endblock %}{{' '~ 'backend.edit'|trans }}</h3>
        </div>
        <div class="box-body">
            {% block create_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}