.pointer{
    cursor: pointer;
}

.sidebar-menu .treeview-menu > li > a {
    padding-left: 30px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    height: auto;
    width: auto;
    margin: 0 auto;
}
.center-title-tradename{
    display: inline-block;
    text-align: center;
    width: calc(100% - 162px - 42px);
    color: #fff;
    line-height: 50px;
    font-weight: bold;
}
.help{
    color: #e7963c;
    font-weight: bold;
}
.upload-cv{
    position: relative;
    top: -35px;
    width: 138px;
}