  
<script>  
zindex = 1;
// Converts from degrees to radians.
Math.radians = function(degrees) {
  return degrees * Math.PI / 180;
};

// Converts from radians to degrees.
Math.degrees = function(radians) {
  return radians * 180 / Math.PI;
};

function makeid() {
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

  for (var i = 0; i < 5; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));

  return text;
}

function newEditor(id) {

    $('#submit').removeClass('btn-primary');
    $('#submit').addClass('btn-danger');
    zindex = zindex + 1;

    var counter = makeid();
    console.log(counter);
    // This HTML could've come from AJAX data.
    var el = CKEDITOR.dom.element.createFromHtml( '<div id="'+counter+'" data-parent="'+id+'" class="editor" contenteditable="true" >Contenido de ejemplo</div>' );
    CKEDITOR.document.getBody().append( el );

    var div = document.createElement("div");
    div.id = 'div-'+counter;
    div.className = 'draggable ui-widget-content rotatable resizable';
    document.getElementById(id).appendChild(div);

    $('#'+'div-'+counter).attr('contentresizable', true);
    $('#'+'div-'+counter).css('position', 'absolute');
    $('#'+'div-'+counter).css('z-index', zindex);
    $('#'+'div-'+counter).append('<i class="fa fa-times" aria-hidden="true"></i>');

    var editor = CKEDITOR.inline(el, {
        title : false,
        allowedContent : true,
        extraPlugins: 'uploadimage,image2,panelbutton,colorbutton,font,lineheight,justify',
        height: 300,
        // Upload images to a CKFinder connector (note that the response type is set to JSON).
        uploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',
        // Configure your file manager integration. This example uses CKFinder 3 for PHP.
        filebrowserBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html',
        filebrowserImageBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html?type=Images',
        filebrowserUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
        // The following options are not necessary and are used here for presentation purposes only.
        // They configure the Styles drop-down list and widgets to use classes.

        stylesSet: [
                { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } },
                { name: 'Wide image', type: 'widget', widget: 'image', attributes: { 'class': 'image-wide' } }
        ],
        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
        image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
        image2_disableResizer: false,
        forcePasteAsPlainText: true,
        removePlugins: 'pastefromword, stylescombo, a11yhelp, format,liststyle, tabletools, scayt, menubutton, contextmenu'
    });
    editor.on("mode", function(ev) {
        $(ev.editor.container.$).find("textarea.cke_source").attr({ title: "", "aria-label": "" });
    });

    $(document).find('#'+counter).appendTo("#div-"+counter);
    $( ".draggable" ).draggable({containment: id}).rotatable({wheelRotate:false}).resizable({containment: id});
    console.log(id);
    $(".editor").click(function(e) {
        e.stopPropagation();
        $( ".draggable" ).draggable( 'disable' )
    });
    $(document).click(function(e) {
        if( e.target.className != 'editor') {
          $( ".draggable" ).draggable( 'enable' );
        }
    });
    $(".draggable" ).mousedown(function(e) {
        zindex = zindex + 1;
        $(this).css('z-index', zindex);
         
        $('#submit').removeClass('btn-primary');
        $('#submit').addClass('btn-danger');
             
    });
    $(".fa-times" ).click(function(){
        $(this).parent().remove();
    });
}


function newEditorImage(id) {

    $('#submit').removeClass('btn-primary');
    $('#submit').addClass('btn-danger');

    zindex = zindex + 1;

    var counter = makeid();
    console.log(counter);
    // This HTML could've come from AJAX data.
    var el = CKEDITOR.dom.element.createFromHtml( '<div id="'+counter+'" data-parent="'+id+'" class="editor" contenteditable="true" >Contenido de ejemplo</div>' );
    CKEDITOR.document.getBody().append( el );

    var div = document.createElement("div");
    div.id = 'div-'+counter;
    div.className = 'draggable ui-widget-content rotatable resizable';
    document.getElementById(id).appendChild(div);

    $('#'+'div-'+counter).attr('contentresizable', true);
    $('#'+'div-'+counter).css('position', 'absolute');
    $('#'+'div-'+counter).css('z-index', zindex);
    $('#'+'div-'+counter).append('<i class="fa fa-times" aria-hidden="true"></i>');

    var editor = CKEDITOR.inline(el, {
        title : false,
        allowedContent : true,
        extraPlugins: 'uploadimage,image2,justify',
        height: 300,
        // Upload images to a CKFinder connector (note that the response type is set to JSON).
        uploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',
        // Configure your file manager integration. This example uses CKFinder 3 for PHP.
        filebrowserBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html',
        filebrowserImageBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html?type=Images',
        filebrowserUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
        // The following options are not necessary and are used here for presentation purposes only.
        // They configure the Styles drop-down list and widgets to use classes.

        stylesSet: [
                { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } },
                { name: 'Wide image', type: 'widget', widget: 'image', attributes: { 'class': 'image-wide' } }
        ],
        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
        image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
        image2_disableResizer: false,
        forcePasteAsPlainText: true,
        removePlugins: 'pastefromword, stylescombo, a11yhelp, format,liststyle, tabletools, scayt, menubutton, contextmenu',
        toolbar : [
            { name: 'basicstyles', items: [ 'Image' ] }
        ],
    });
    editor.on("mode", function(ev) {
        $(ev.editor.container.$).find("textarea.cke_source").attr({ title: "", "aria-label": "" });
    });

    $(document).find('#'+counter).appendTo("#div-"+counter);
    $( ".draggable" ).draggable({containment: id}).rotatable({wheelRotate:false}).resizable({containment: id});
    console.log(id);
    $(".editor").click(function(e) {
        e.stopPropagation();
        $( ".draggable" ).draggable( 'disable' )
    });
    $(document).click(function(e) {
        if( e.target.className != 'editor') {
          $( ".draggable" ).draggable( 'enable' );
        }
    });
    $(".draggable" ).mousedown(function(e) {
        zindex = zindex + 1;
        $(this).css('z-index', zindex);
    });
    $(".fa-times" ).click(function(){
        $(this).parent().remove();
    });
}

$( function() {
    $('.draggable').each(function( index ) {
        var parent = $(this).attr('data-parent');
        $(this).draggable({
            containment: parent
        });

        $('#'+$(this).attr('id')).append('<i class="fa fa-times" aria-hidden="true"></i>');        
    });
    $('.resizable').each(function( index ) {
        var parent = $(this).attr('data-parent');
        $(this).resizable({
            containment: parent
        });
    });
    $(".rotatable").each(function( index ) {
        var angle = Math.radians(getRotationDegrees($(this)));
        console.log(angle);
        $(this).rotatable({
            wheelRotate:false, 
            angle: angle
        });
    });
    $(".editor").each(function( index ) {
        CKEDITOR.inline($(this).attr('id'), {
            title : false,
            allowedContent : true,
            extraPlugins: 'uploadimage,image2,panelbutton,colorbutton,font,lineheight,justify',
            height: 300,

            // Upload images to a CKFinder connector (note that the response type is set to JSON).
            uploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',

            // Configure your file manager integration. This example uses CKFinder 3 for PHP.
            filebrowserBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html',
            filebrowserImageBrowseUrl: '/bundles/editor/plugins/ckfinder/ckfinder.html?type=Images',
            filebrowserUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/bundles/editor/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',

            // The following options are not necessary and are used here for presentation purposes only.
            // They configure the Styles drop-down list and widgets to use classes.

            stylesSet: [
                { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } },
                { name: 'Wide image', type: 'widget', widget: 'image', attributes: { 'class': 'image-wide' } }
            ],

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
            image2_disableResizer: false,
            forcePasteAsPlainText: true,
            removePlugins: 'pastefromword, stylescombo, a11yhelp, format, liststyle, tabletools, scayt, menubutton, contextmenu'
        });

    });

    $(".fa-times" ).click(function(){
        $(this).parent().remove();
    });
});


function getRotationDegrees(obj) {
    var matrix = obj.css("-webkit-transform") ||
    obj.css("-moz-transform")    ||
    obj.css("-ms-transform")     ||
    obj.css("-o-transform")      ||
    obj.css("transform");
    if(matrix !== 'none') {
        var values = matrix.split('(')[1].split(')')[0].split(',');
        var a = values[0];
        var b = values[1];
        var angle = Math.round(Math.atan2(b, a) * (180/Math.PI));
    } else { var angle = 0; }
    return (angle < 0) ? angle + 360 : angle;
}


$(document).ready(function(){

    var submitted = false;


    $(document).ready(function () {
        $('.sidebar-toggle').click();

       window.onbeforeunload = function (e) {
           if (!submitted) {
               var message = "You have not saved your changes.", e = e || window.event;
               if (e) {
                   e.returnValue = message;
               }
               return message;
           }
        }
        $("form[name='template']").submit(function() {
            submitted = true;
        });
    });


    $(".editor").click(function(e) {
        e.stopPropagation();
        $( ".draggable" ).draggable( 'disable' )
    });
    
    var first = true;
    $(document).click(function(e) {
        if( e.target.className != 'editor') {
            $( ".draggable" ).draggable( 'enable' );
        }
    });
    $(".draggable" ).mousedown(function(e) {
        zindex = zindex + 1;
        $(this).css('z-index', zindex);
        
         $('#submit').removeClass('btn-primary');
        $('#submit').addClass('btn-danger');
    });

    $('#submit, #submit_admin, #submit_print, #submit_delivery').click(function(){
        
        var buttonId = $(this).attr('id');

        $('#submit').removeClass('btn-danger');
        $('#submit').addClass('btn-primary');
        
        $('#cara').click();
        $('#cara-editor').click();    
        $('.tab-content').css('opacity', '0.5');
        //PDF build
        {% if entity.support == 'flyers'  %}
            var pdf =  new jsPDF('p', 'pt', [594.75, 840.75]);
        {% elseif entity.support == 'routers'  %}
           var pdf =  new jsPDF('p', 'pt', [1183.5, 1875]);
        {% elseif entity.support == 'instagram'  %}
           var pdf =  new jsPDF('p', 'pt', [810, 810]);
        {% elseif entity.support == 'facebook_1'  %}
           var pdf =  new jsPDF('p', 'pt', [705, 591]);
        {% elseif entity.support == 'facebook_2'  %}
           var pdf =  new jsPDF('p', 'pt', [615, 234]);
        {% elseif entity.support == 'facebook_3'  %}
           var pdf =  new jsPDF('p', 'pt', [607.5, 337.5]);
        {% elseif entity.support == 'social'  %}
           var pdf =  new jsPDF('p', 'pt', [600, 600]);
        {% elseif entity.support == 'pinterest'  %}
           var pdf =  new jsPDF('p', 'pt', [551.25, 826.5]);
        {% endif %}


        {% if  entity.support == 'flyers'%}
            var html = $('#parent').html();
            var result = html.replace(/\<div class\=\"ui\-rotatable\-handle ui\-draggable\"\>\<\/div\>/gi, '');
            var result2 = result.replace(/\<i class\=\"fa fa-times\" aria\-hidden\=\"true\"\>\<\/i\>/gi, '');
            var result3 = result2.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result4 = result3.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-e\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result5 = result4.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var last = result5.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-se ui\-icon ui\-icon\-gripsmall\-diagonal\-se\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            $('#template_frontPageHtml').html(last);

            var html = $('#parent2').html();
            var result = html.replace(/\<div class\=\"ui\-rotatable\-handle ui\-draggable\"\>\<\/div\>/gi, '');
            var result2 = result.replace(/\<i class\=\"fa fa-times\" aria\-hidden\=\"true\"\>\<\/i\>/gi, '');
            var result3 = result2.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result4 = result3.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-e\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result5 = result4.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var last = result5.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-se ui\-icon ui\-icon\-gripsmall\-diagonal\-se\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            $('#template_backPageHtml').html(last);

            setTimeout(function(){
                $('#tab_1-1').addClass('active');
                setTimeout(function(){  
                    $('#preview').html('');
                    $('#preview').html('Cargando la prevista ...');
                    html2canvas(document.getElementById("parent-container")).then(function(canvas) {

                        $('#tab_1-1').removeClass('active');
                        $('#tab_2-1').addClass('active');
                        $('#preview').html('');
                        $('#preview').append(canvas);
                        $('#tab_2-1').addClass('active');
                        var imgData = canvas.toDataURL("image/jpeg", 1.0);
                        console.log(imgData);
                        $('#preview-tab2').click();
                        $('#contra-tab1-content').click();
                         setTimeout(function(){ 
                            $('#preview2').html('');
                            $('#preview').html('Cargando la prevista ...');
                            html2canvas(document.getElementById("parent2-container")).then(function(canvas2) {
                                $('#preview2').html('');
                                $('#preview2').append(canvas2);
                                // only jpeg is supported by jsPDF
                                var imgData2 = canvas2.toDataURL("image/jpeg", 1.0);
                                {% if entity.support == 'flyers'  %}
                                    pdf.addImage(imgData, 'JPEG', -11, 0);
                                {% elseif entity.support == 'routers'  %}
                                    pdf.addImage(imgData, 'JPEG', -11, 0);
                                {% else %}
                                    pdf.addImage(imgData, 'JPEG', -11, 0);
                                {% endif %}

                                pdf.addPage();
                                {% if entity.support == 'flyers'  %}
                                    pdf.addImage(imgData2, 'JPEG', -11, 0);
                                {% endif %}

                                //save file
                                var pdf2 = btoa(pdf.output()); 
                                $.ajax({
                                    method: "POST",
                                    url: "/admin/editor/upload/{{entity.id}}",
                                    data: {data: pdf2, img1: imgData, img2: imgData2 },
                                }).done(function(data){
                                    console.log(data);
                                    $('.tab-content').css('opacity', '1');
                                    $('#cara').click();
                                    $('#tab_1-1').addClass('active');
                                    $('#tab_2-1').removeClass('active');
                                   
                                    if(buttonId == 'submit_admin' || buttonId == 'submit_print' || buttonId == 'submit_delivery'){
                                          $('#send').click();
                                    } 
                                });
                            });
                        }, 3000);

                    }); 
                },300);
            },300);     
        {% else %}        
            var html = $('#parent').html();
            var result = html.replace(/\<div class\=\"ui\-rotatable\-handle ui\-draggable\"\>\<\/div\>/gi, '');
            var result1 = result.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result2 = result1.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-e\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var result3 = result2.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-s\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            var last = result3.replace(/\<div class\=\"ui\-resizable\-handle ui\-resizable\-se ui\-icon ui\-icon\-gripsmall\-diagonal\-se\" style\=\"z\-index\: 90\;\"\>\<\/div\>/gi, '');
            $('#template_frontPageHtml').html(last);

             setTimeout(function(){
                $('#tab_1-1').addClass('active');
                setTimeout(function(){  
                    $('#preview').html('');
                    $('#preview').html('Cargando la prevista ...');
                    html2canvas(document.getElementById("parent-container")).then(function(canvas) {
                        $('#tab_1-1').removeClass('active');
                        $('#tab_2-1').addClass('active');
                        $('#preview').html('');
                        $('#preview').append(canvas);
                        $('#tab_2-1').addClass('active');
                        var imgData = canvas.toDataURL("image/jpeg", 1.0);

                        setTimeout(function(){ 
                                pdf.addImage(imgData, 'JPEG', -11, 0);
                                //save file
                                var pdf2 = btoa(pdf.output()); 
                                $.ajax({
                                  method: "POST",
                                  url: "/admin/editor/upload/{{entity.id}}",
                                  data: {data: pdf2, img1: imgData },
                                }).done(function(data){
                                    $('.tab-content').css('opacity', '1');
                                    $('#cara').click();
                                    $('#tab_1-1').addClass('active');
                                    $('#tab_2-1').removeClass('active');
                                    if(buttonId == 'submit_admin' || buttonId == 'submit_print' || buttonId == 'submit_delivery'){
                                          $('#send').click();
                                    } 
                                });
                        }, 3000);

                    }); 
                },300);
            },300);   
        {% endif %} 

    });

    $('#cara-preview').click(function(){
        $('.tab-content').css('opacity', '0.5');
        setTimeout(function(){
            $('#tab_1-1').addClass('active');
            setTimeout(function(){                    
                $('#preview').html('');
                $('#preview').html('Cargando la prevista ...');
                html2canvas(document.getElementById("parent-container")).then(function(canvas) {
                    var context = canvas.getContext('2d');
                    console.log(canvas.width);
                    console.log(canvas.height);
                    $('#preview').html('');
                    $('#preview').append(canvas);
                    $('#tab_1-1').removeClass('active');
                    $('.tab-content').css('opacity', '1');
                }); 
            },300);
        },300);            
     });

     $('#contracara-preview').click(function(){
        $('.tab-content').css('opacity', '0.5');
        setTimeout(function(){
            $('#tab_3-1').addClass('active');
            setTimeout(function(){                    
                $('#preview2').html('');
                $('#preview2').html('Cargando la prevista ...');
                html2canvas(document.getElementById("parent2-container")).then(function(canvas2) {
                    $('#preview2').html('');
                    $('#preview2').append(canvas2);
                    $('#tab_3-1').removeClass('active');
                    $('.tab-content').css('opacity', '1');
                }); 
            },300);
        },300); 
    });                

    $('#download').click(function(e){
        e.preventDefault();
        $('body').find('canvas').attr('id', 'myCanvas')
        var canvas = document.getElementById('myCanvas');
        canvas.backgroundColor = null;
        // only jpeg is supported by jsPDF
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        {% if entity.support == 'flyers'  %}
            var pdf =  new jsPDF('p', 'pt', [594.75, 840.75]);
        {% elseif entity.support == 'routers'  %}
           var pdf =  new jsPDF('p', 'pt', [1183.5, 1875]);
        {% elseif entity.support == 'instagram'  %}
           var pdf =  new jsPDF('p', 'pt', [810, 810]);
        {% elseif entity.support == 'facebook_1'  %}
           var pdf =  new jsPDF('p', 'pt', [705, 591]);
        {% elseif entity.support == 'facebook_2'  %}
           var pdf =  new jsPDF('p', 'pt', [615, 234]);
        {% elseif entity.support == 'facebook_3'  %}
           var pdf =  new jsPDF('p', 'pt', [607.5, 337.5]);
        {% elseif entity.support == 'social'  %}
           var pdf =  new jsPDF('p', 'pt', [600, 600]);
        {% elseif entity.support == 'pinterest'  %}
           var pdf =  new jsPDF('p', 'pt', [551.25, 826.5]);
        {% endif %} 
        pdf.addImage(imgData, 'JPEG', -11, 0);
            

        pdf.save("download.pdf");
        
    });

    $('#download2').click(function(e){
        $('#preview2').find('canvas').attr('id', 'myCanvas2')
        var canvas = document.getElementById('myCanvas2');
        // only jpeg is supported by jsPDF
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        {% if entity.support == 'flyers'  %}
            var pdf =  new jsPDF('p', 'pt', [594.75, 840.75]);
        {% elseif entity.support == 'routers'  %}
           var pdf =  new jsPDF('p', 'pt', [1183.5, 1875]);
        {% elseif entity.support == 'instagram'  %}
           var pdf =  new jsPDF('p', 'pt', [810, 810]);
        {% elseif entity.support == 'facebook_1'  %}
           var pdf =  new jsPDF('p', 'pt', [705, 591]);
        {% elseif entity.support == 'facebook_2'  %}
           var pdf =  new jsPDF('p', 'pt', [615, 234]);
        {% elseif entity.support == 'facebook_3'  %}
           var pdf =  new jsPDF('p', 'pt', [607.5, 337.5]);
        {% elseif entity.support == 'social'  %}
           var pdf =  new jsPDF('p', 'pt', [600, 600]);
        {% elseif entity.support == 'pinterest'  %}
           var pdf =  new jsPDF('p', 'pt', [551.25, 826.5]);
        {% endif %} 
        pdf.addImage(imgData, 'JPEG', -11, 0);
        pdf.save("download2.pdf");
        e.preventDefault();
    });
    
    $('#download3').click(function(e){
        e.preventDefault();
         $('body').find('canvas').attr('id', 'myCanvas')
        var canvas = document.getElementById('myCanvas');
        canvas.backgroundColor = null;
        // only jpeg is supported by jsPDF
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var url = imgData.replace(/^data:image\/[^;]+/, 'data:application/octet-stream');
        
        
        $.ajax({
            method: "POST",
            url: "/download",
            data: { data: imgData}
        })
        .done(function( msg ) {

            window.open(
                msg,
                '_blank' // <- This is what makes it open in a new window.
            );
        });

        //window.open(url);
    });
    
    $('#download4').click(function(e){
        e.preventDefault();
        $('#preview2').find('canvas').attr('id', 'myCanvas2')
        var canvas = document.getElementById('myCanvas2');
        canvas.backgroundColor = null;
        // only jpeg is supported by jsPDF
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var url = imgData.replace(/^data:image\/[^;]+/, 'data:application/octet-stream');
        $.ajax({
            method: "POST",
            url: "/download",
            data: { data: imgData}
        })
        .done(function( msg ) {

            window.open(
                msg,
                '_blank' // <- This is what makes it open in a new window.
            );
        });
    });

    $('#search_submit').click(function(e){
        e.preventDefault();
        var search = $('#search').val();
        var referer = $('#referer').val();
        var type = $('#type').val();
        if(search!='') {
            var query = "/"+encodeURI(search)+"?referer="+referer;
        }else{
            var query = "?referer="+referer;
        }
        if(type == 'user'){
            var url =  "/admin/editor/search-user"+query;
        }else{
            var url =  "/admin/editor/search"+query;
        }
        $.ajax({
            method: "GET",
            url: url
        }).done(function(data){
             console.log(data);
             $('.container-items').html('');
            for (i = 0; i < data.length; i++) { 
                var html = '<li class="items-editor"><a href="/admin/editor/clone/'+data[i].id+'?referer='+referer+'">'+data[i].name+'<br>\n\
                                <img src="'+data[i].previewImage+'" width="100%"></a>\n\
                            </li>';

                $('.container-items').append(html);
            }

        });
    });


}); 
</script>